@layer reset, tokens, base, components, utilities;

@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    body, h2, p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
    }
}

@layer tokens {
    :root {
        --clr-yellow: hsl(47 88% 63%);
        --clr-gray-950: hsl(0 0% 7%);
        --clr-gray-500: hsl(0 0% 42%);
        --clr-white: hsl(0 0% 100%);

        --ff-base: "Figtree", sans-serif;
        --fs-100: 0.75rem; /*12px*/
        
       
        --fs-200: 0.875rem; /*14px*/
        --fs-500: 0.875rem; /*14px*/
       
        
        --fs-700: clamp(1.25rem, 1.18rem + 0.36vw, 1.5rem); /*20-24px*/
        --fw-medium: 500;
        --fw-x-bold: 800;

        --lh-base: 1.5;

        --sp-50: 0.25rem; /*4px*/
        --sp-100: 0.5rem; /*8px*/
        --sp-150: 0.75rem; /*12px*/
        --sp-300: 1.5rem; /*24px*/
    }

    @media (min-width: 55rem) {
        :root {
            --fs-100: 0.875rem; /*14px*/
            --fs-500: 1rem; /*16px*/
        }
    }
}

@layer base {
    body {
        min-height: 100svh;
        display: grid;
        place-items: center;

        background-color: var(--clr-yellow);
        color: var(--clr-gray-950);

        font-family: var(--ff-base);
        font-size: var(--fs-500);   
        line-height: var(--lh-base);
    }
    
    a {
        color: currentColor;
        text-decoration: none;
    }

    a:hover,
    a:focus-visible {
        color: var(--clr-yellow);
    }

    a:focus-visible {
        outline: 2px solid var(--clr-yellow);
        outline-offset: 3px;
    }
}

@layer components {
    .blog-card {
        max-width: 24rem;
        padding: var(--sp-300);
        margin-inline: var(--sp-300);

        background-color: var(--clr-white);

        border: 1px solid var(--clr-gray-950);
        border-radius: 20px;

        box-shadow: 8px 8px 0 0 hsl(0 0% 0%);
    }
    
    .blog-card__image {
        border-radius: 10px;
    }

    .blog-card__content {
        margin-block: var(--sp-300);
        
        display: flex; 
        flex-direction: column;
        gap: var(--sp-150);
    }

    .blog-card__tag {
        width: fit-content;
        padding-inline: var(--sp-150);
        padding-block: var(--sp-50);

        background-color: var(--clr-yellow);

        font-size: var(--fs-100);
        font-weight: var(--fw-x-bold);

        border-radius: 4px; 
    }

    .blog-card__date {
        font-size: var(--fs-100);
        font-weight: var(--fw-medium);
    }

    .blog-card__title {
        font-size: var(--fs-700);
        font-weight: var(--fw-x-bold);
    }

    .blog-card__excerpt {
        font-size: var(--fs-500);
        font-weight: var(--fw-medium);
        color: var(--clr-gray-500);
    }

    .blog-card__author {
        display: flex;
        align-items: center;
        gap: var(--sp-150);

        font-size: var(--fs-200);
        font-weight: var(--fw-x-bold);
    }

    .blog-card__avatar {
        width: 32px;
        aspect-ratio: 1;
    }
}

@layer utilities {
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        white-space: nowrap;
        border: 0;
    }
}
